{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<h2 class="product">Products : </h2>
<div class="cntr">
  @<br>
  /.!.\<br>
  __&emsp;--&emsp;// &emsp;//&ensp;&ensp;&ensp;&ensp;\\ &emsp;\\&emsp;--&emsp;__<br>

 <div class="poutre"></div>
 <div class="stage2"><h3><span class="stg1">Showcase Site</h3><p class="stg1"><a href="{{ url_for('index') }}">See Offer ...!</a></span></p></div>
 <div class="poutre"></div>
 <div class="stage1"><h3><span class="stg1">Numeric Identity</h3><h5 class="stg1">(showcase Included)</h5><p class="stg1"><a href="{{ url_for('index') }}">See Offer ...!</a></span></p></div>
<div class="fundation"></div>

</div>
{% endblock %}
